@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import url("https://fonts.googleapis.com/css?family=Vidaloka");

.page_footer{
	width: 100%;
	height: 20%;
	background-color: #343a40;
	padding: 20px;
}

.page_footer p{
	color: #ffff;
	text-align: justify;
}

.page_footer h3{
	color: #ffff;
}

.page_copyright {
	font-size: 14px;
	font-weight: 300;
	position: relative;
}

.ds{
	margin-bottom: 20px; 
}

.logo-text{
	font-size: 5vh;
	color: #ffff;
}

.widget a{
	text-decoration:none;
}

.widget .widget-title {
	margin-bottom: 21px;
	font-size: 4vh;
	text-align: center;
}

.logo{
	margin: 10px;
}

.video-part{
	height: 40%;
	background-color: #ff9a76;
}

.img_video-part{
	padding: 40px;
}

.achievement{
	margin: 100px;
}

.achievement h3{
	font-size: 40px;
}

.color-main2 {
	border-color: #78bf4d;
	color: #78bf4d !important;
}

.media .media-body {
	margin-right: 20px;
}

.media .media-body > p:first-child {
	margin-top: -0.2em;
}

.timetable .nav-tabs {
	border: 0;
	justify-content: center;
	margin-bottom: 60px;
}

.timetable .nav-tabs .nav-item {
	border-radius: 0;
	display: inline-block;
	letter-spacing: 0;
	min-width: 14.2%;
	text-align: center;
}

.timetable .nav-tabs a.nav-link {
	border: 1px solid #e5e5e5;
	border-left: 0;
	border-radius: 0;
	margin: 0;
	padding: 13px 12px;
	width: 100%;
}

.timetable .nav-tabs a.nav-link:hover {
	background-color: #fc834b;
	border-color: #fc834b;
	border-left: 1px solid #e5e5e5;
}

.timetable .nav-tabs a.nav-link.first {
	border-left: 1px solid #e5e5e5;
	border-radius: 5px 0 0 5px;
}

.tab-content {
	border: 1px solid #e5e5e5;
	border-top: none;
	padding: 50px 55px;
}

.tab-pane .media img {
	max-width: 40%;
}

.tab-pane .media img:first-child {
	margin-right: 10px;
}

.bordered {
	border-radius: 5px;
}

.timetable .btn-timetable {
	float: right;
	margin-top: -39px;
}

.timetable h5 {
	margin-bottom: 18px;
}

.timetable .item-meta span {
	padding: 0 22px 0 0px;
}

.timetable .item-meta i {
	margin-right: 3px;
}

.timetable .nav-tabs .nav-link.active {
	background: #fc834b;
	border-color: #fc834b;
	color: #fff;
}

.section-heading h6 {
	font-size: 14px;
	margin-bottom: -2px !important;
}

@media (max-width: 991px) {
	.image-wrap {
		margin-bottom: 25px;
	}
}

h6.small-text {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0;
}

.btn-outline-maincolor{
	background-color: transparent;
}

.ds .tab-content {
	border-color: #454545;
}

.ds .nav-tabs .nav-link {
	border-color: #454545;
}