@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import url("https://fonts.googleapis.com/css?family=Vidaloka");

.page_footer{
	width: 100%;
	height: 20%;
	background-color: #343a40;
	padding: 20px;
}

.page_footer p{
	color: #ffff;
	text-align: justify;
}

.page_footer h3{
	color: #ffff;
}

.page_copyright {
	font-size: 14px;
	font-weight: 300;
	position: relative;
}

.ds{
	margin-bottom: 20px; 
}

.logo-text{
	font-size: 5vh;
	color: #ffff;
}

.widget a{
	text-decoration:none;
}

.widget .widget-title {
	margin-bottom: 21px;
	font-size: 4vh;
	text-align: center;
}

.logo{
	margin: 10px;
}

.video-part{
	height: 40%;
}

.achievement{
	margin: 100px;
}

.achievement h3{
	font-size: 40px;
}

.color-main2 {
	border-color: #78bf4d;
	color: #78bf4d !important;
}

.media .media-body {
	margin-right: 20px;
}

.media .media-body > p:first-child {
	margin-top: -0.2em;
}