@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

body{
    padding: 0;
    margin: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9a76;
}

.logo{
    float: left;
    width: 8%;
    height: 8%;
}

.navbar-item{
    float: left;
    text-align: center;
}

.navbar-item a{
    display: block;
    color:white;
    font-size: 20px;
    text-align: center;
    padding-left: 40px;
    padding-top: 35px;
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
}

.navbar-item a:hover{
    color: #000;
}

.Row {
    display: table;
    width: 100%; 
    table-layout: fixed;
}


.Column {
    display: table-cell;
    background-color: #ff9a76;
    padding: 5%;
    color: white;
    font-family: Roboto;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
      }
}

.Column input{
    background-color: white;
    padding: 15px 25px;
    border: 0;
    font-family: Roboto;
    font-weight: bold;
}

.Column img {
    width: 400px;
}

/* -----------  about  */

html {
    box-sizing: border-box;
  }

  .about-section {
    padding: 5%;
    color: white;
    font-family: Roboto;
    background-color: #474e5d;
    color: white;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column1 {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    background-color: #454d5f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  

  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    background-color: #474e5d;
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .card img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    
  }
  
  /* for responce screen */
  @media screen and (max-width: 650px) {
    .column1 {
      width: 100%;
      display: block;
    }
  }

    /* .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: grey;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  } */
  
  /* .button:hover {
    background-color: #555;
  } */
 